#navbar {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    border-bottom-color: #777777;
    border-bottom-color: #777777;
    color: #fff;
}

#navbarText {
    color: #fff;
}

#me {
    background-color: #4aaaa5;
    display: inline-block;
    color: #fff;
}
body {
    background-image: url(full-bloom.png);
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

img {
    float: left;
    margin-right: 20px;

}

.panel-body {
    background-color: #ffffff;
    border: #dddddd solid 2px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    padding: 20px;
    padding-bottom: 20px;
}

#about {
    font-family:'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dddddd;
    padding-bottom: 10px;
}

.bio {
    margin-top: 20px;
}

.footer {
	background: #666666;
    height: 50px;
    text-align: center;
    line-height: 70px;
    color: #fff;
    border-top: 5px solid #4aaaa5;
}